* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.title {
}

.slider {
  position: relative;
  display: inline-block;
}

.slider-img {
}

.numbers {
  position: absolute;
  top: 20px;
  left: 20px;
}

.first-num {
}

.button-list {
}

.button-item-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.button-item-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.item-btn {
  border: none;
  background: transparent;
  font-size: 30px;
}

.descr {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
}

.point-list {
  display: flex;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  gap: 5px;
}

.point-item {
}

.point-btn {
  background-color: lightgray;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.btn-active {
  background-color: gray;
}
